@import '../../styles/variables.scss';

.catalog {
    &-item {
        display: flex;
        margin-top: 10px;
        color: $link-color;
        text-decoration: none;
        cursor: pointer;
        img {
            width: 30px;
            height: 30px;
        }
        div {
            margin-left: 15px;
            font-size: 18px;
            text-overflow: ellipsis;
            overflow: hidden;
            word-wrap: none;
            white-space: nowrap;
        }
        &:first-child {
            margin-top: 0;
        }
        &:hover {
            color: $link-hover-color;
        }
    }
}